{% extends 'base.html' %}

{% block title %} account {% endblock %}

{% block body %}
<div class="account">
  <h1> Greetings {{user}} </h1>
  <h2> Here are your saves!</h2>

  <!-- css-ify this and make it work and organize it and idk-->
  <table class="table">
    <thead>
      <tr>
	<th scope="col">Time</th>
	<th scope="col">Lat</th>
	<th scope="col">Long</th>
	<th scope="col">Address</th>
	<th scope="col">Summary</th>
	<th scope="col">High</th>
	<th scope="col">Low</th>
	<th scope="col">Current</th>
	<th scope="col">Attraction</th>
      </tr>
    </thead>
    <tbody>
      {% for save in saves %}
      <tr>
	<td>{{save[1]}}</td>
	<td>{{save[2]}}</td>
	<td>{{save[3]}}</td>
	<td>{{save[4]}}</td>
	<td>{{save[5]}}</td>
	<td>{{save[6]}}</td>
	<td>{{save[7]}}</td>
	<td>{{save[8]}}</td>
	<td>{{save[9]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
