{% extends 'base.html' %}

{% block title %} info {% endblock %}

{% block body %}
<div class = "info">
  <br>
  <div class="h1"> Info </div>
  <br>
  <div class="row">
    <div class="col-sm-6">    
      <div class="card">
	<div class="card-body">
	  <div class="card-body">
	    <div class="h1"> Weather </div>
	    <p class="card-text"> {{summary}} </p>
	    <p class="card-text"> current temperature: {{curr}}</p>
	    <p class="card-text"> low temperature: {{low}}</p>
	    <p class="card-text"> high temperature: {{high}}</p>
	    <div class="container">
	      <div class="col-md-4 px-0">
		<a href="https://darksky.net/poweredby/"><img src="https://darksky.net/dev/img/attribution/poweredby-oneline.png" img-lg></a>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
	<div class="card-body">
	  <div class="card-body">
	    <div class="h1">Places Nearby</div>
	    <p class="card-text">
	      {% for each in text %}
	      {{each['displayString']}}
	      <form action="/save" id="info">
	      	<input type="hidden" name="low" value="{{low}}">
	      	<input type="hidden" name="high" value="{{high}}">
	      	<input type="hidden" name="curr" value="{{curr}}">
	      	<input type="hidden" name="summary" value="{{summary}}">
	      	<input type="hidden" name="address" value="{{each['displayString']}}">
	      	<input type="hidden" name="place" value="{{each['name']}}">
	      	<input type="submit" name="save" value="Save">
	      </form>
	      <br>
	      {% endfor %}
	    </p>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}


